<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>حرف بزن</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <script type="text/javascript" src="https://unpkg.com/showdown/dist/showdown.min.js"></script>

</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>
            حرف بزن
        </h1>
    </div>
    <div class="row">
        {% block page_content %}
        {% endblock %}
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/renderer.js"></script>
</html>