@font-face {
    font-family: 'Vazir';
    src: url("../font/Vazir.woff") format("woff");
    src: url("../font/Vazir.eot?#ie6") format("eot"),
    url("../font/Vazir.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Niloofar';
    src: url("../font/XBNiloofarRegular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Niloofar;
}

.jumbotron {
    background: #5be1ef;
}

.new-post-button {
    width: 86%;
    margin-right: 7%;
    vertical-align: center;
}

.post-text {
}

.separator {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid grey;
    padding: 0;
    width: 70%;
    margin-right: 15%;
}

.author-box {
    padding-right: 15px;
}

.md-editor {
    width: 100%;
    height: 200px;
}

.yell {
    background: yellow;
    height: 100%;
}
